<h1>Questions</h1>

<%= turbo_frame_tag product_questions_target(@product) do %>
  <div id="questions">
    <% if @questions.present? %>
      <%= render components("questions/question", @questions) %>
    <% else %>
      <div>
        There is no question to show.
      </div>
    <% end %>
  </div>

  <%= link_to "New question", new_question_path %>
<% end %>