<h1>New question</h1>

<%= render component("questions/form", question: @question, customers: @customers, products: @products) %>
<br>

<div>
  <%= link_to "Back to questions", questions_path %>
</div>
