<% if @cart %>
  <%= link_to @cart, data: {"turbo-frame"=> "main-parts"}, id: "cart" do %>
    <div class="w-16 h-16 p-2 rounded-full relative stroke-first-500">
      <%= render Icons::CartComponent.new %>
      <% if @cart.order_items.present?%>
        <div class="absolute left-1/2 top-1/4 -translate-x-2/3 -translate-y-1/3 bg-first-500 text-first-50 w-5 aspect-square rounded-full flex justify-center items-center text-xs font-bold">
          <%= @cart.order_items.map(&:quantity).sum %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>