<%= render Frame::BodyComponent.new do |c|%>
  <% c.with_custom_component do %>
    <h1>Orders</h1>

    <div id="orders">
      <%= render(Orders::OrderComponent.with_collection(@orders)) %>
    </div>

    <%= link_to "New order", new_order_path %>
  <% end %>
<% end %>