<div id="<%= dom_id @order %>" class="border border-solid border-red-200">
  <%= link_to @order do %>
      
    <div >
      Summary
      <div>
        Total: <%= number_to_currency(@order.total_price, :unit => "€") %>
      </div>
      <div>
        Status: <%= @order.status %>
      </div>
    </div>
      
  <% end %>
</div>
