<turbo-frame id="main-parts">
  <h1>Products</h1>

  <div id="products" class="flex flex-wrap w-full justify-evenly">
    <%= render(Products::ProductComponent.with_collection(@products)) %>
  </div>

  <%= link_to "New product", new_product_path %>
</turbo-frame>