<%= form_with(
  model: @order_item,
  method: :put,
  class: "flex flex-col items-center w-32",
  data: {
    turbo_frame: main_parts_target,
    controller: "order-item-quantity",
    "order-item-quantity-max-value": @order_item.product.quantity
  }
) do |form| %>
  
  <button 
    data-action="click->order-item-quantity#increase"
    class="btn-second w-10 aspect-square"
    data-order-item-quantity-target= "increaseButton"
  > + </button>
  
  <%= form.number_field :quantity,
    class:"mx-8 text-center bg-transparent outline-none appearance-none appearance-textfield w-full",
    in: 1..@order_item.product.quantity,
    step: 1,
    data: {
      action: "input->order-item-quantity#submitForm",
      "order-item-quantity-target": "input"
    }
  %>
  
  <button 
    data-action="click->order-item-quantity#decrease"
    class="btn-second w-10 aspect-square"
    data-order-item-quantity-target= "decreaseButton"
  > - </button>
  
<% end %>