<div class="border border-solid border-red-200 m-4 p-4">
  <div id="<%= dom_id @question %>">
    <p>
      <div>
        <div>
          <%= @question.body %>
        </div>
        <small>
          <%= @question.customer.email %>
        </small>
      </div>
      <div class="p-4">
        <% if @question.answers.present? %>
          <%= render components("answers/answer", @question.answers) %>
        <% else %>
          No answer
        <% end %>
      </div>
    </p>
    
  </div>
</div>
