<h1>Categories</h1>

<div id="categories" class="flex flex-wrap justify-evenly">
  <%= render(MainCategories::MainCategoryComponent.with_collection(@main_categories)) %>
</div>

<div id="products" class="flex flex-wrap w-full justify-evenly">
  <%= render(Products::ProductComponent.with_collection(@products)) %>
</div>

<%= link_to "New category", new_main_category_path %>
