<div class="bg-first-300 border border-solid border-red-200">
  <div id="<%= dom_id @main_category %>">
    <p>
      <%= link_to @main_category do %>
        
        <%= @main_category.name %>
        
      <% end %>
    </p>
    
  </div>
</div>
