<%= link_to @category do %>
  <div class="bg-first-300 border border-solid border-red-200 w-72 m-2">
    <div id="<%= dom_id @category %>">
      <p>
        <%= @category.name %>
      </p>
      <%= image_tag @category.image %>
      
    </div>
  </div>
<% end %>