<h1>Categories</h1>

<div id="categories" class="flex flex-wrap justify-evenly">
  <%= render(Categories::CategoryComponent.with_collection(@categories)) %>
</div>

<%= link_to "New category", new_category_path %>
