<%= render component("frame/body") do |c|%>
  <%= @main_category.name %>

  <div>
    Subcategories
  </div>
  <div class="flex flex-wrap justify-evenly">
    <%= render components("categories/category", @main_category.categories) %>
  </div>

  <div class="bg-blue-100">
    <h2>Products</h2>

    <%= render Products::InfiniteScrollStartPage::Component.new(products: @products, last_page: @last_page, category_id: @main_category.id) %>
    
  </div>
<% end %>