<h1>Editing order</h1>

<%= render component("orders/form", order: @order, customers: @customers) %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>
