<h1>Reviews</h1>

<turbo-frame id=<%= dom_id(@reviews.first.product, :reviews) %>>
  <div id="reviews">
    <%= render(Reviews::ReviewComponent.with_collection(@reviews)) %>
  </div>

  <%= link_to "New review", new_review_path %>
</turbo-frame>

