<h1>New order_item</h1>

<%= render component("order_items/form", order_item: @order_item, orders: @orders, products: @products) %>
<br>

<div>
  <%= link_to "Back to order_items", order_items_path %>
</div>
