<turbo-frame 
  id="main-parts" 
  data-turbo-action="advance" 
  autoscroll 
  data-autoscroll-block="start"
  data-autoscroll-behavior="smooth"
  
>
  <div class="scroll-mt-96">
    <%= custom_component %>
  </div>
</turbo-frame>