<div class="bg-first-300 border border-solid border-red-200">
  <div id="<%= dom_id @question %>">
    <p>
      <%= @question.body %>
      <div>
        Answers
      </div>
      <%= render(Answers::AnswerComponent.with_collection(@question.answers)) %>

    </p>
    
  </div>
</div>
