@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .progress {
    @apply rounded-lg [&::-webkit-progress-bar]:bg-first-300 [&::-webkit-progress-value]:bg-first-400 [&::-moz-progress-bar]:bg-first-400
  }

  .btn {
    @apply flex justify-center items-center
    rounded-md cursor-pointer
    border border-solid
  }
  
  .btn-first {
    @apply btn bg-first-500 hover:bg-first-600 
    text-first-100 stroke-first-100 
    border-first-500 hover:border-first-600;
  }

  .btn-second {
    @apply btn bg-first-50 hover:bg-first-100 
    text-first-500 stroke-first-500 hover:text-first-600 hover:stroke-first-600 
    border-first-500
    disabled:bg-fourth-500 disabled:border-fourth-50;
  }

  .btn-third {
    @apply btn text-first-500 stroke-first-500 
    hover:text-first-600 hover:stroke-first-600
    border-none;
  }

  .btn-danger {
    @apply btn bg-danger-400 hover:bg-danger-500
    font-bold border-none;
  }
}

@layer components {

  .pagy-nav.pagination {
    @apply isolate inline-flex -space-x-px rounded-md shadow-sm;
  }

  .page.next a {
    @apply hidden;
  }

  .page.prev a {
    @apply hidden;
  }

  .page.next.disabled {
    @apply hidden;
  }

  .page.prev.disabled {
    @apply hidden;
  }

  .page a, .page.gap {
    @apply bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center border px-4 py-2 text-sm font-medium focus:z-20;
  }

  .page.active {
    @apply z-10 border-first-500 bg-first-50 text-first-600 relative inline-flex items-center border px-4 py-2 text-sm font-medium focus:z-20;
  }
}

details > summary::marker {
  content: "";
}

* {
  scroll-margin-top: inherit;
}