@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {

  .btn {
    @apply flex justify-center items-center
    rounded-md cursor-pointer
    border border-solid
  }
  
  .btn-first {
    @apply btn bg-first-500 hover:bg-first-600 
    text-first-100 stroke-first-100 
    border-first-500 hover:border-first-600;
  }

  .btn-second {
    @apply btn bg-first-50 hover:bg-first-100 
    text-first-500 stroke-first-500 hover:text-first-600 hover:stroke-first-600 
    border-first-500
    disabled:bg-fourth-500 disabled:border-fourth-50;
  }

  .btn-third {
    @apply btn text-first-500 stroke-first-500 
    hover:text-first-600 hover:stroke-first-600
    border-none;
  }

  .btn-danger {
    @apply btn bg-danger-400 hover:bg-danger-500
    font-bold border-none;
  }
}

details > summary::marker {
  content: "";
}
