@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-first {
    @apply flex justify-center items-center bg-first-500 hover:bg-first-600 
    text-first-100 stroke-first-100 border-first-500
     hover:border-first-600 border border-solid cursor-pointer;
  }

  .btn-second {
    @apply flex justify-center items-center bg-first-50 hover:bg-first-100 
    text-first-500 stroke-first-500 hover:text-first-600 hover:stroke-first-600 
    border-first-500 border border-solid cursor-pointer
    disabled:bg-fourth-500 disabled:border-fourth-50;
  }

  .btn-third {
    @apply flex justify-center items-center text-first-500 stroke-first-500 hover:text-first-600 hover:stroke-first-600 cursor-pointer;
  }
}

details > summary::marker {
  content: "";
}
