<%= render Frame::BodyComponent.new do |c|%>
  <% c.with_custom_component do %>
    <%= @category.name %>

    <div class="bg-blue-100">
      <%= render Products::InfiniteScrollStartPage.new(products:@products, category_id: @category.id, last_page: @last_page) %>
    </div>

  <% end %>
<% end %>
