<%= render component("frame/body") do %>
  <%= @category.name %>

  <div class="bg-blue-100">
    <%= render component("products/infinite_scroll_start_page", products: @products, last_page: @last_page, category_id: @category.id) %>
  </div>

<% end %>