<h1>Reviews</h1>

<%= turbo_frame_tag product_reviews_target(@product) do %>
  <div id="reviews">
    <%= render components("reviews/review", @reviews) %>
  </div>

  <%= link_to "New review", new_review_path %>
<% end %>