<div class="bg-first-300 border border-solid border-red-200">
  <div id="<%%= dom_id @<%= singular_name %> %>">
    <p>
      <%%= link_to @<%= singular_name %> do %>
        <% attributes_without_references.map do |attribute| %>
        <%%= @<%= singular_name %>.<%= attribute.name.to_s %> %>
        <% end %>
      <%% end %>
    </p>
    
  </div>
</div>
