# frozen_string_literal: true

class <%= class_name %>s::<%= class_name %>Component < ViewComponent::Base
  def initialize(<%= singular_name %>:)
    @<%= singular_name %> = <%= singular_name %>
  end
end
