# frozen_string_literal: true

class <%= class_name %>s::EditComponent < ViewComponent::Base
  def initialize(<%= [singular_name, reference_attributes.map{|attribute| attribute.name.pluralize}].join(":, ") + ":" %>)
    @<%= singular_name %> = <%= singular_name %>
    <% reference_attributes.map do |attribute|  %>
    @<%= attribute.name.to_s.pluralize %> = <%= attribute.name.to_s.pluralize %>
    <% end %>
  end
end
